html{
    /*background-image: url("bacon.jpg ");*/
    background-image: url("josh-rose-156917.jpg ");
    background-size: 1200px 900px;

}

h1{

    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    color: white;
    text-align: center;
    padding: 50px;
;
}

